@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row mb-3 ">

    <div class="col-xl-3 col-lg-6">
        <a type="button" asp-controller="Space" asp-action="Vocabulary">
            <div class="card">
                <div class="card-body bg-primary text-white rounded">
                    <div>
                        <i class="ti ti-list fs-6"></i>
                        <span class="card-title text-white ml-5">Vocabulary</span>
                    </div>
                </div>
            </div>
        </a>

    </div>

    <div class="col-xl-3 col-lg-6">
        <div class="card">
            <div class="card-body bg-primary text-white rounded">
                <div>
                    <i class="ti ti-headphones fs-6"></i>
                    <span class="card-title text-white ml-5">Listening</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-6">
        <div class="card">
            <div class="card-body bg-primary text-white rounded">
                <div>
                    <i class="ti ti-book fs-6"></i>
                    <span class="card-title text-white ml-5">Reading</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-6">
        <div class="card">
            <div class="card-body bg-primary text-white rounded">
                <div>
                    <i class="ti ti-ballpen fs-6"></i>
                    <span class="card-title text-white ml-5">Writing</span>
                </div>
            </div>
        </div>
    </div>
</div>